package components

import "user-mgmt/internal/version"

templ Footer() {
<footer class="uk-navbar-container">
  <nav class="border-t border-border">
    <div uk-navbar>
      <div class="uk-navbar-center">
      <p class="uk-comment-meta">User Management</p>
        <p class="uk-comment-meta">Version: { version.Version }</p>
      </div>
    </div>
  </nav>
</footer>
}
